<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>这是我的第一个模板</h1>
    <h1>{{title}}</h1>
    <form action="/login" method="POST">
        <!-- name：定义表单提交的数据字段 -->
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="登录">
    
    </form>
</body>
</html>